<!--           footer        -->
    <div class="bottom">
        <div class="container clearfix">
            <div class="clearfix">
                <div class="contact">
                    <div class="tel">
                        <p>客服热线400-030-9527</p>
                        <p>(周一至周日9:00-21:00)</p>
                    </div>
                    <div class="addr">
                        <p>北京市大兴区经济开发区科苑路18号2幢3层304室</p>
                    </div>
                </div>
                <ul class="footer-nav">
                    <li><a href="#">购物指南</a></li>
                    <li><a href="#">支付方式</a></li>
                    <li><a href="#">配送方式</a></li>
                    <li><a href="#">售后服务</a></li>
                </ul>
                <ul class="footer-nav">
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">食品安全</a></li>
                    <li><a href="#">味道保障</a></li>
                    <li><a href="#">未到江湖</a></li>
                </ul>
                <ul class="footer-nav">
                    <li><a href="#">味道标准</a></li>
                    <li><a href="#">诚聘英才</a></li>
                    <li><a href="#">友情链接</a></li>
                    <li><a href="#">乐线</a></li>
                </ul>
                <div class="footer-img">
                    <img src="../images/weixin_ewm.png">
                </div>
                <div class="footer-img">
                    <img src="../images/app_ewm.png">
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 2014-2017 All Rights Reserved 味道网（北京）科技有限公司版权所有</p>
                <p>京ICP备15031582号   营业执照91110115335506919T号   食品经营许可证编号 JY11115090562335</p>
            </div>
        </div>
    </div>